#wrapper{
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}
#instructions{
	flex-grow: 1;
	text-align: center;
}
.cls-1{
	fill:rgba(255, 255, 0, 0.5);
}
.cls-2{
	fill:rgba(237, 30, 121, 0.5);
}
.cls-3{
	fill:rgba(198, 156, 109, 0.5);
}
.body{
	fill:#ff0;
}
.eraser{
	fill:#ed1e79;
}
.tip{
	fill:#c69c6d;
}
#convex-lens2{
	fill:#ADD8E6;
	stroke:#000;
	stroke-miterlimit:10;
}
#concave-lens2{
	fill:#ADD8E6;
	stroke:#000;
	stroke-miterlimit:10;
}
#convex-mirror2{
	fill:#b3b3b3;
	stroke:#000;
	stroke-miterlimit:10;
}
#concave-mirror2{
	fill:#b3b3b3;
	stroke:#000;
	stroke-miterlimit:10;
}